@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(2, 2, 88);
}

header h1 {
    color: white;
    text-align: center;
    padding: 20px 0px;
}

section {
    display: block;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    background-color: white;
    width: 600px;
    height: 400px;
    
}

section div#msg{
    padding-top: 20px;
    color: rgb(68, 68, 68);
    font-size: 1.2em;

}

section div img#imagem{
    display: block;
    margin: auto;
    margin-top: 10px;
    border-radius: 50%;
    background-color: green;
    width: 300px;
    height: 310px;
}

footer {
    text-align: center;
    padding-top: 20px;

}

footer a {
    color: white;
    text-decoration: none;
    font-weight: 900;
}